/node_modules/
/package-lock.json
/dist/
/img-original/*.jpg
/img-compressed/*.jpg
/img-resize/*.jpg
/img-original/*.png
/img-compressed/*.png
/img-resize/*.png
/img-original/*.gif
/img-compressed/*.gif
/img-resize/*.gif
